@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding: 0;
}




Navbar{
    opacity: 10%;
}

.NavHeroName {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.items{
    font-size: large;
}